*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ececec;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;           
}

/* FOR CHOOSELANGUGE */

  .police__img {
    width: 53px;
    height: 61px;   
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #281859;
    margin-top: 0;
}

.police__feedback {
    font-size: 7px;
}

.police__heading {
    font-size: 12px;
}

.lang__heading {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
}

.district__1,
.district__taluko1,
.district__police1 {
    width: 7rem;
    height: 1rem;
    border-radius: 7px;
    font-size: 5px;
    border: 1px solid #281859;
    color: #281859;

}

.district,
.district__taluko,
.district__police {
    padding-top: 0.5rem;


}

.option__forform {
    color: #281859;
}

/* FOR TEXTAREA */
.police__experience1 {
    border: 1px solid black;
    border-radius: 5px;
    color: #281859;
    padding-top: 0.5rem;
    font-size: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 5px;
    padding-top: -1rem;
}

.police__experience {
    padding-top: 0.5rem;
}

.police__btn1 {
    background: #281859;
    color: #fff;
    border-radius: 6px;
    font-size: 8px;
    width: 5rem;
    height: 0.8rem;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.police__btn {
    padding-top: 1rem;
}



/* FOR LOGIN PAGE */

.police__img{
  width: 53px; 
  height: 61px; 
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #281859;
  margin-top: 0;
}

.police__feedback{
  font-size: 7px;
}

.police__heading{
  font-size: 12px;
}

.police__num1{
  font-size: 7px;
  border-radius: 7px;
  width: 7rem;
  height: 1.2rem;
  padding-top: 1px;
  padding-left: 2px;
  border: 1px solid black;
}

.police__num{
  padding-top: 1rem;
}

.police__otp{
  border-radius: 5px;
  background-color: #281859;
  color: #fff;
  cursor: pointer;
  font-size: 7px;
}

.policeotp{
  padding-left: 4.5rem;
  margin-top: -1px; 
}

.policeotp1{
  font-size: 7px;
  border-radius: 7px;
  width: 7rem;
  height: 1.2rem;
  padding-top: 1px;
  padding-left: 2px;
  border: 1px solid black;
}

.police__scnd{
  padding-top: 5px;
}

.policevrfy{
  width: 38px;
}

.policenext{
  border-radius: 10px;
  width: 5rem;
  height: 1.5rem;
  background-color: #281859;
  color: #fff;
  font-size: 8px;
  cursor: pointer;
}

.policenext1{
  padding-top: 1.2rem;
  display: flex;
  justify-content: center;
}


/* FOR SELECT STATION */


.police__img{
  width: 53px; /*53*/
  height: 61px; /*61*/
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  color: #281859;
  margin-top: 0;
}
.police__feedback{
  font-size: 7px;
}
.police__heading{
  font-size: 12px;
}





.district__1, .district__taluko1, .district__police1{
  width: 7rem;
  height: 1rem;
  border-radius: 7px;
  font-size: 5px;
  border: 1px solid #281859 ;
  color: #281859;
  
}
.district, .district__taluko, .district__police{
  padding-top: 0.8rem;

  
}
.option__forform{
  color: #281859;
}

/* FOR TEXTAREA */
.police__experience1{
  border: 1px solid black;
  border-radius: 5px;
  color: #281859;
  padding-top: 0.5rem;
  font-size: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 5px;
  padding-top: -1rem;
}
.police__experience{
  padding-top: 0.5rem;
}
.police__btn1{
  border-radius: 10px;
  width: 5rem;
  height: 1.5rem;
  background-color: #281859;
  color: #fff;
  font-size: 8px;
  cursor: pointer;
}
.police__btn{
      padding-top: 2.8rem;
}



