/* FOR LOGIN PAGE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ececec;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;           
}

.police__img{
  width: 53px; 
  height: 61px; 
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #281859;
  margin-top: 0;
}

.police__feedback{
  font-size: 7px;
}

.police__heading{
  font-size: 12px;
}

.police__num1{
  font-size: 7px;
  border-radius: 7px;
  width: 7rem;
  height: 1.2rem;
  padding-top: 1px;
  padding-left: 2px;
  border: 1px solid black;
}

.police__num{
  padding-top: 1rem;
}

.police__otp{
  border-radius: 5px;
  background-color: #281859;
  color: #fff;
  cursor: pointer;
  font-size: 7px;
}

.policeotp{
  padding-left: 4.5rem;
  margin-top: -1px; 
}

.policeotp1{
  font-size: 7px;
  border-radius: 7px;
  width: 7rem;
  height: 1.2rem;
  padding-top: 1px;
  padding-left: 2px;
  border: 1px solid black;
}

.police__scnd{
  padding-top: 5px;
}

.policevrfy{
  width: 38px;
}

.policenext{
  border-radius: 10px;
  width: 5rem;
  height: 1.5rem;
  background-color: #281859;
  color: #fff;
  font-size: 8px;
  cursor: pointer;
}

.policenext1{
  padding-top: 1.2rem;
  display: flex;
  justify-content: center;
}
